on:
  push: {}

name: "Test"
permissions: {}

jobs:
  bats:
    runs-on: ubuntu-latest
    steps:
      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.8.2
      - name: lucky_commit
        run:  cargo install lucky_commit --locked --no-default-features
      - uses: actions/checkout@v3
      - name: Test
        run:  PATH="$PWD:$PATH" bats test/*.bats --filter-tags short